/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Montserrat&family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

/* common and utility  */

body {
    font-family: 'Poppins', sans-serif;
}

/* header information  */
.container {
    width: 100%;
    height: 646px;
    background: #161616;
    border-radius: 30px;

}

.header-details {
    display: flex;
    padding-left: 140px;

}

.header-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
}

.pragraph {
    color: #FFFFFF;
}

.pragraph-1 {
    display: none;
}

.button {
    background: #DD0000;
    color: #FFFFFF;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
}

.header-image {

    padding-left: 100px;
}

.header-image img {
    width: 775px;
    height: 646px;
    border-radius: 20px;
}

/* main section start  */

.main-container {
    margin-top: 130px;
    padding-left: 50px;

}

.main-section {
    display: flex;
}

.main-side-bar {
    width: 260px;
    height: 260px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;

}

.site-button {
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
}

.button-color {
    background: #DD0000;
}

.site-button a {
    text-decoration: none;
    color: #161616;
    font-size: 20px;
}

/* right match section  */

.right-side-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.right-side {
    margin-left: 20px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.thumbnail img {
    width: 337px;
    height: 200.24px;
    border-radius: 11.4423px 11.4423px 0px 0px;
}

.transfer-button {
    color: #161616;
    font-size: 16px;
    margin-top: 24px;
    border-radius: 5px;
    width: 87px;
    height: 34px;
}

.paragraph {
    color: #161616;
    font-size: 18px;
}

.blogs-info {
    padding-left: 20px;
}

.icon {
    margin-bottom: 20px;
}


/* ..........................
    footer section
..............................  */

footer {
    height: 444px;
    background: #161616;
}

.footer-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-top: 130px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
    height: 0px;
}


.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.footer-menu a {
    padding: 30px;
    text-decoration: none;
    color: #B9B9B9;
}

/* ..................................
    upcoming match css sheet...........  */

#match-info {
    width: 312px;
    height: 242px;
}

.thumbnail-image {
    display: flex;
}

.thumbnail-container {
    padding: 53px 30px;
}

.diffrent {
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.thumbnail-image img {
    width: 252px;
    height: 56.18px;
}

.match-title {
    color: #161616;
    font-size: 20px;
    text-align: center;
}

.match-date {
    color: #4D4D4D;
    font-size: 16px;
    text-align: center;

}

.hide-button {
    text-align: center;
    display: none;
}

.button-2 {
    background: #DD0000;
    color: #FFFFFF;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* ................................
    Mobile Device Responsive  
    ..................................*/

@media only screen and (max-width: 678px) {
    body {
        width: 100%;
    }

    .container {
        height: 100%
    }

    .header-title {
        font-size: 25px;
    }

    .pragraph {
        display: none;
    }

    .pragraph-1 {
        display: contents;
    }

    .header-image img {
        width: 100%;
    }

    .header-details,
    .right-side-container,
    .main-section,
    .footer-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    /* .header-details {
        padding-left: 55px;
    } */

    footer {
        width: 100%;
        height: 100%;
    }

    .footer-menu {
        text-align: center;
    }

    .main-side-bar {
        background-color: #FFFFFF;
    }
}

@media only screen and (min-width: 678px) and (max-width: 992px) {
    .right-side-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .hide-button {
        display: block;
    }
}